<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read My Homework</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js"></script>
</head>
<body>
    <span id="hash" hidden>{{ hash }}</span>
    <h1 class="m-3 text-center alert alert-info">
        Read My Homework
    </h1>
    <div class="m-3 alert alert-warning">
        This site is provided for free. You are responsible for all of your own
        actions. All data submitted is proccessed UNENCRYPTED. Files submitted
        are not assumed persistant. You are responsible for keeping a copy of
        your files. Submitted files are not private and anyone with site access
        can view them.
    </div>
    <div class="m-4">
        <div class="mb-4">
            <button id="uploadFileBtn" class="btn btn-primary">Upload file</button>
            <input type="file" name="uploadFileInput" id="uploadFileInput" accept="application/pdf" style="display:none;">
            <label for="uploadFileInput">Current file: {% if hash %}{{ hash }}{% else %}none{% endif %}</label>
        </div>
        <div class="row align-items-center justify-content-center text-center">
            <div class="col p-3 rounded">
                <div id="fileNameLabel">
                    PDF with OCR run
                </div>
                <a href="/pdf/{{ hash }}" class="btn btn-primary" {% if not hash %}hidden{% endif %}>Download PDF</a>
            </div>
            <div class="col">
                <!-- <span class="form-check form-check-inline form-switch">
                    <input type="checkbox" name="ocr-check" id="" class="form-check-input">
                    <label for="ocr-check" class="form-check-label">Run OCR?</label>
                </span>
                <span class="form-check form-check-inline form-switch">
                    <input type="checkbox" name="tts-check" id="" class="form-check-input" role="switch">
                    <label for="tts-check" class="form-check-label">Run TTS?</label>
                </span> -->
                <span>
                    {% if hash %}
                        <button id="convertFileBtn" class="btn btn-primary">Convert</button>
                    {% else %}
                        No file submitted!
                    {% endif %}
                </span>
            </div>
            <div class="col p-3 rounded">
                <div id="convertedLabel">
                    WAV from PDF text
                </div>
                <a href="/wav/{{ hash }}" class="btn btn-primary" {% if not converted %}hidden{% endif %}>Download WAV</a>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog alert alert-info">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Loading</h1>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    The content is currently loading, please wait. The page will
                    automatically refresh when loading is done.
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>